<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.timbolender.fefereader"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".FefeReaderApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/activity_main_title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BookmarkActivity"
            android:label="@string/activity_bookmark_title"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name=".ui.DetailsActivity"
            android:label="@string/activity_details_title"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name=".ui.UnreadActivity"
            android:label="@string/activity_unread_title"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/activity_about_title"
            android:parentActivityName=".ui.MainActivity"/>

        <receiver android:name=".service.BootServiceStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.NotificationCreator"
            android:exported="false">
            <intent-filter>
                <action android:name="de.timbolender.fefereader.service.action.UPDATE_FINISHED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>
